<header>
  <h1 class="header"> Meet the Team</h1>
  <hr></hr>
</header>
<body>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/images/blank-profile.png" alt="Brett" style="width:100%">
        <div class="container">
          <h3>Brett Blashko</h3>
          <p class="title">Software Engineer</p>
          <p>blashko.brett@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/images/blank-profile.png" alt="Erika" style="width:100%">
        <div class="container">
          <h3>Erika Groten</h3>
          <p class="title">Electrical Engineer</p>
          <p>rikki.groten@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/images/blank-profile.png" alt="Ross" style="width:100%">
        <div class="container">
          <h3>Ross Jesperson</h3>
          <p class="title">Electrical Engineer</p>
          <p>ross.c.jespersen@gmail.com</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/images/blank-profile.png" alt="Brock" style="width:100%">
        <div class="container">
          <h3>Brock Poesiat</h3>
          <p class="title">Electrical Engineer</p>
          <p>bpoesiat@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/images/blank-profile.png" alt="New" style="width:100%">
        <div class="container">
          <h3>Spot Empty</h3>
          <p class="title">Sometype Engineer</p>
          <p>spotempty@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/images/blank-profile.png" alt="New" style="width:100%">
        <div class="container">
          <h3>Spot Empty</h3>
          <p class="title">Sometype Engineer</p>
          <p>spotempty@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</body>
